ol,ul{
    list-style: none;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    /*height: 500px;*/
    overflow: hidden;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}
.listOne{
    float: left;
    border-bottom: 1px dashed #000000;
}
.listOne video{
    width: 398px;
    height: 325px;
    margin-top: 20px;
    float: left;
    margin-left: 30px;
}
.listOne .videoInfo{
    float: left;
    width: 40%;
    margin-left: 100px;
}